name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Generate Snake
        uses: Platane/snk@master
        with:
          github_user_name: SimoneFrez
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark
          
      - name: Commit and Push
        uses: EndBug/add-and-commit@v9
        with:
          author_name: snake-bot
          author_email: snake-bot@users.noreply.github.com
          message: "Update snake animation"
          add: "dist/"
          push: true
