name: Generate Snake

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */6 * * *"

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - uses: actions/checkout@v4
      
      - uses: Platane/snk@v3
        with:
          github_user_name: SimoneFrez
          svg_out_path: github-contribution-grid-snake.svg
      
      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: .
          branch: output
          clean: true
